.embed-page .mr-3 {
  cursor: pointer;
}
.embed-page .blocks-container {
  display: none;
}
.embed-page.unfolded .blocks-container {
  display: block;
}

.done {
  /* color: grey; /\* Changes the text color to grey *\/ */
  opacity: 0.8; /* Makes the element semi-transparent */
  text-decoration: none;
}
