{:highlights [{:id #uuid "6733b92c-89fa-468f-9245-d0360641270d",
               :page 1,
               :position {:bounding {:x1 86.859375,
                                     :y1 377.984375,
                                     :x2 722.8961791992188,
                                     :y2 392.984375,
                                     :width 794,
                                     :height 1122.9380932381353},
                          :rects ({:x1 86.859375,
                                   :y1 377.984375,
                                   :x2 722.8961791992188,
                                   :y2 392.984375,
                                   :width 794,
                                   :height 1122.9380932381353}),
                          :page 1},
               :content {:text "Modifications aux conditions générales de votre/vos produit(s) d’assurance et tarifs d’application au"},
               :properties {:color "red"}}
              {:id #uuid "6733b95c-78a7-44a7-be92-3050faf84005",
               :page 1,
               :position {:bounding {:x1 86.859375,
                                     :y1 461.1875,
                                     :x2 710.3430786132812,
                                     :y2 475.1875,
                                     :width 794,
                                     :height 1122.9380932381353},
                          :rects ({:x1 86.859375,
                                   :y1 461.1875,
                                   :x2 710.3430786132812,
                                   :y2 475.1875,
                                   :width 794,
                                   :height 1122.9380932381353}),
                          :page 1},
               :content {:text "Vous trouverez, en annexe, pour chaque produit d'assurance souscrit par l'intermédiaire de notre mutualité auprès de"},
               :properties {:color "blue"}}
              {:id #uuid "6733ba00-ae13-4c48-9b5b-1681ebf05607",
               :page 1,
               :position {:bounding {:x1 105.75,
                                     :y1 506.890625,
                                     :x2 417.71875,
                                     :y2 534.03125,
                                     :width 794,
                                     :height 1122.9380932381353},
                          :rects ({:x1 105.75,
                                   :y1 506.890625,
                                   :x2 417.71875,
                                   :y2 520.890625,
                                   :width 794,
                                   :height 1122.9380932381353}
                                  {:x1 105.75,
                                   :y1 520.03125,
                                   :x2 417.2027893066406,
                                   :y2 534.03125,
                                   :width 794,
                                   :height 1122.9380932381353}),
                          :page 1},
               :content {:text "Les modifications apportées aux conditions générales. Ces modifications entreront en vigueur au 1er janvier 2025"},
               :properties {:color "red"}}
              {:id #uuid "6734835e-dfc4-42ea-bc76-88feee40d9f5",
               :page 1,
               :position {:bounding {:x1 86.859375,
                                     :y1 589.765625,
                                     :x2 435.2453308105469,
                                     :y2 603.765625,
                                     :width 794,
                                     :height 1122.9380932381353},
                          :rects ({:x1 86.859375,
                                   :y1 589.765625,
                                   :x2 435.2453308105469,
                                   :y2 603.765625,
                                   :width 794,
                                   :height 1122.9380932381353}),
                          :page 1},
               :content {:text "Pour plus d'informations sur vos assurances, consultez notre site:"},
               :properties {:color "red"}}],
 :extra {:page 1}}
